@model MvcStok.Models.Entity.TBLSATISLAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    satış yap
</button>
<div class="modal fade" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Satış ekranı</h5>

            </div>
            <form method="post" action="/Satis/YeniSatis/">
                <div class="modal-body">
                    <label>
                        Ürün adı
                    </label>
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                    <label>
                        Müşteri Adı Soyadı
                    </label>
                    @Html.TextBoxFor(m => m.MUSTERI, new { @class = "form-control" })
                    <label>
                        Adet
                    </label>
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                    <label>
                        Fiyat
                    </label>
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
                    <button type="submit" class="btn btn-info">satış yap</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">vazgeç</button>
                </div>
            </form>
        </div>
    </div>
</div>