@model MvcStok.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">

    <div>
        @*<label>Kategori ad</label>
            <input class="form-control" type="text" name="KATEGORIAD" />*@
        @Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.KATEGORIAD, "", new { @style = "color:red" })
    </div>
    <div>
        <button class="btn btn-info"> Kategori Ekle</button>
    </div>
</form>